﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-5">
        <h2>LocalDB</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Platform Name</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Updated Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var platform in Model.Data.Platforms)
                {
                    <tr>
                        <th scope="row">@platform.Id</th>
                        <td>@platform.UniqueName</td>
                        <td>@platform.Latitude</td>
                        <td>@platform.Longitude</td>
                        <td>@platform.CreatedAt.DateTime.ToString()</td>
                        <td>@platform.UpdatedAt.DateTime.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
        <h2>API's (Source : @Model.Source)</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Platform Name</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Updated Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var platform in Model.Data.PlatformApi)
                {
                    <tr>
                        <th scope="row">@platform.Id</th>
                        <td>@platform.UniqueName</td>
                        <td>@platform.Latitude</td>
                        <td>@platform.Longitude</td>
                        <td>@platform.CreatedAt.Date.ToString()</td>
                        <td>@platform.UpdatedAt.DateTime.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>